[2014-07-26 00:49] chan9han opened #1 "Twitter Archive doesn't load all tweets"
Accessing the twitter archive allowed me to delete around 30 tweets more than 3200 tweets, but I still have some left. It doesn't seem like they will show up on the csv file from Twitter. Is there another way to access the JSON ID of those earlier tweets?

[2015-04-11 12:33] #1 closed

[2018-07-23 10:20] Lewiscowles1986 opened #6 "python3"
Fancy a patch for python3 and systems that python doesn't default to "utf8" encoding?

Otherwise the following errors are generated

### Python2/3 print

[code]

### UTF-8 windows bug

[code]

[2018-07-27 14:41] mjpost opened #8 "likes"
It would be great if this removed likes, too.

[2018-07-29 10:19] nazimjamil commented on #6
I've encountered the same issue r.e. python print on macOS and have resolved it by modifying the line to
[code]

Might help you in the short term.

[2018-07-29 10:40] Lewiscowles1986 commented on #6
There is a PR for python3 compatibility, there were a few issues with Python2

[2018-08-26 10:36] #6 closed

[2018-08-26 15:57] Lewiscowles1986 opened #11 "Make testable"
I know it works as we've both tested by running, but it'd be great to have something so we can run a unit-test suite, perhaps even a test against twitter using https://github.com/brightcove/brine or similar?

[2018-08-27 09:53] sdimi opened #12 "New Twitter export file (csv -> json)"
Twitter now creates and archive with a .json file instead of a .csv. Any plans to update the code?

[2018-08-27 10:28] #12 closed

[2018-11-13 18:48] justdvl opened #16 "No more tweets.csv file"
Trying to make this work, but Twitter didn't provide the tweets.csv file. Did they change the export structure?
They only provide .js files, one of them tweet.js, where all the tweets are.
Hovewer this seems to have different json structure, as I am getting error:

[code]

Perhaps correction will be necessary (in which case I can do it).

[2018-11-14 13:29] koenrh commented on #16
Did you follow the instructions in the [README](https://github.com/koenrh/delete-tweets#get-your-tweet-archive)?

Confusingly, there are now two ways to export your data from Twitter (see my comment here: https://github.com/koenrh/delete-tweets/pull/5#issuecomment-408890053).

[2018-11-18 20:33] siemvaessen opened #18 "ImportError: No module named backports"
Hi,

Followed the Readme but getting an ImportError: No module named backports.

Running a Macbook - not sure how to solve this. Any pointers?

[2018-11-18 20:35] siemvaessen commented on #18
Right, I get this upon checking requirements:

Could not find a version that satisfies the requirement backports (from versions: ) .. Mhmm

[2018-11-18 20:42] siemvaessen commented on #18
Right, for some reason just running 'pip install backports.csv' solved my issue.

[2018-11-21 11:47] koenrh commented on #18
Ah, I see, that one should be added to the requirements.txt file. I'll fix that.

Thanks for reporting!

[2018-12-17 22:47] selflessmind opened #19 "ImportError: No module named twitter"
Everything seemed to go ok until I tried to delete tweets and got the following error message:

[2018-12-19 10:37] koenrh commented on #19
Did you install the dependencies using `pip install -r requirements.txt` ?

[2018-12-19 10:39] koenrh commented on #18
@miguelssrs Thanks for reporting (and clarifying that it indeed works with Python 3)! I'll try to fix it this week and/or make it clear how to work around it in the README.

[2018-12-19 11:06] selflessmind commented on #19
I did and there were no errors, I even tried updating to twitter 3.5 but had the same error message.

[2018-12-20 21:17] selflessmind commented on #19
that command gives the following:

[2018-12-26 14:39] spouyllau opened #20 "About variables"
It's not clear for me, where paste :

TWITTER_CONSUMER_KEY="[your consumer key]"
TWITTER_CONSUMER_SECRET="[your consumer secret]"
TWITTER_ACCESS_TOKEN="[your access token]"
TWITTER_ACCESS_TOKEN_SECRET="[your access token secret]"

Best,

S.

[2018-12-27 06:30] TheAuracle commented on #20
I too am having the same issue. Bit of a newb using Python so I'm not sure how one sets the os.environ variables.

For example, when I replace _'TWITTER_CONSUMER_KEY'_ in line 61 **(consumer_key=os.environ['TWITTER_CONSUMER_KEY']**, the error message printed is _No consumer key/secret and/or access token/secret set._

[2018-12-27 15:57] koenrh commented on #20
You need set these four variables as _environment variables_.

Assuming you are using Bash as your default shell, you need to use the `export` command to export these variables to your current environment:

[code]

Then you could quickly verify that these environment variables are set by using `env` and `grep`:

[code]

This is not clear from the README, I'll fix that.

Let me know if this works (

[2018-12-27 16:56] TheAuracle commented on #20
Giving this a try now. Thank you for your prompt response! I'll be in touch. 😄

[2018-12-27 20:14] TheAuracle commented on #20
Good news everyone! That export command did the trick! Everything is running as it should! Thank you so much for the clarification!

Also, should mention that I used Git Bash for Windows to do everything as previously instructed.

[2018-12-30 13:10] koenrh commented on #20
Cool!

I have updated the README in https://github.com/koenrh/delete-tweets/pull/21.

[2018-12-30 13:10] #20 closed

[2018-12-30 14:08] #16 closed

[2018-12-30 14:10] Botros84 commented on #19
orwell84@laptop:~/delete-tweets$ pip list | grep twitter
python-twitter    3.5

but still getting this error

Traceback (most recent call last):
  File "deletetweets.py", line 9, in <module>
    import twitter
ImportError: No module named twitter

[2018-12-30 14:15] koenrh commented on #8
Unfortunately, these are not included in the Twitter archive:

[code]

It is probably fairly easy to implement, but I'd like to keep this script as simple as possible to only work on the tweets CSV file.

[2018-12-30 14:19] koenrh commented on #11
Agreed.

Added some basic tests in https://github.com/koenrh/delete-tweets/pull/17 (using pytest).

[2018-12-30 14:19] #11 closed

[2018-12-30 14:52] koenrh commented on #19
It is kind of hard to debug these errors remotely without knowing how your Python environments are setup.

However, what you could do is running scripts such as these in a virtual Python environment:

1. Install [Virtualenv](https://virtualenv.pypa.io/en/latest/): `pip install virtualenv`.
1. Go to the directory where you checked out this repository.
1. Create a new virtual environment by running

[2018-12-30 15:13] koenrh commented on #18
Fixed in https://github.com/koenrh/delete-tweets/pull/25 by only requiring the 'backports' version for Python version < 3.

[2018-12-30 15:13] #18 closed

[2019-01-01 19:14] Lewiscowles1986 commented on #11
Thank you!

[2019-01-02 00:35] jaybird34 opened #27 "Twitter API credentials not set."
Hi koenrh,

Running from a command line (not BASH), I keep getting "Twitter API credentials not set." even though I've set them where specified in two places. I'm not sure if it's something I'm doing or if others are experiencing similar. Thank you.

[2019-01-02 12:12] koenrh commented on #27
Did you export the variables to your environment as described in [this section](https://github.com/koenrh/delete-tweets#configure-your-environment)?

That is (note the `export` command):

[code]

[2019-01-02 16:41] jaybird34 commented on #27
Forgive my ignorance... I've never used the export command. My confusion is where to run that script? Can I put it in the deletetweets.py file?

JL
Sent from my iPhone

On Jan 2, 2019, at 5:12 AM, Koen Rouwhorst <notifications@github.com<mailto:notifications@github.com>> wrote:

Did you export the variables to your environment as described in this section<https://eur02.safelinks.protection.outlook

[2019-01-02 16:49] koenrh commented on #27
No worries.

No, the `export` command is Bash (which is a particular shell) built-in command. You need to run that command in your shell, which usually is Bash. You access that shell in a terminal app (e.g. Terminal.app on Mac, Command Prompt/cmd.exe on Windows).

What OS are you running? Windows?

[2019-01-02 17:54] jaybird34 commented on #27
I see. I'm running Windows 10. I'm actually pretty experienced in python, however I'm typically doing predictive modeling and have less exposure to other areas, this being one of them. My only experience with bash is with python anywhere just basic stuff.

Do I just type out "export(stuff goes here)" in the command line from cmd.exe?

I really appreciate your help. I'm sure it's kind of annoying h

[2019-01-02 19:08] koenrh commented on #27
No, the syntax is a little different. I'm not that familiar with the Windows 'Command Prompt', but as far as I understand you could set the environment variables as follows (no quotes or brackets):

[code]

After which you could probably run the script using the Python executable:

[code]

Let me know if that works. I'll update the README to add instructions for Windows users.

[2019-01-02 22:17] jaybird34 commented on #27
Thank you so much. I will give this a try tonight or in the morning and report back. I appreciate your time with this.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Koen Rouwhorst <notifications@github.com>
Sent: Wednesday, January 2, 2019 12:08:08 PM
To: koenrh/delete-tweets
Cc: jaybird34; Author
Subject: Re: [koenrh/delete-

[2019-01-03 20:00] jaybird34 commented on #27
I tried using “set” for each of the twitter keys from the command line and no luck. Still says Twitter API credentials not set.

[cid:image003.png@01D4A364.37290800]

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Koen Rouwhorst <notifications@github.com>
Sent: Wednesday, January 2, 2019 12:08:08 PM
To: koenrh/delete-tweets
Cc:

[2019-01-07 10:08] koenrh commented on #27
I'll see if I can get my hands on a Windows (virtual) machine to test it myself.

Did you attach an image? (I don't see it show up on GitHub)

[2019-01-13 11:41] pwadeveloper opened #28 "Bad Auth Data"
Hello, thanks for this.
I keep getting this error

delete tweet 946339619297202176
Exception: [{'code': 215, 'message': 'Bad Authentication data.'}]

[2019-01-15 07:11] shaneswoll opened #29 "Key Error"
Not sure why I'm getting this. The keys are correct, i even regenerated them and still get this message.
<img width="560" alt="screen shot 2019-01-15 at 2 08 32 am" src="https://user-images.githubusercontent.com/23007169/51164401-cb6c8e80-186a-11e9-8c88-6fd94db0e98d.png">

[2019-01-25 00:36] MarkelFe commented on #28
You probably have entered the API keys wrong. Revise that you haven't entered extra spaces ^^

[2019-02-28 17:59] codawithacurse commented on #19
I I also got the "ImportError: No module named twitter" error. I did install the dependencies but when I typed "pip install -r requirements.txt" I got the error "-bash: pip: command not found", however it worked with I used pip3 instead of pip.

When I did that, it appeared to work but I did get a message that said "Ignoring backports.csv: markers 'python_version < "3.0" don't match your environme

[2019-03-02 11:39] koenrh commented on #19
You can ignore this. It is only informational. It tells you that you are using Python 3 and thus do not need the "backports" dependency (only needed when you are using the Python 2).

[2019-03-03 02:54] codawithacurse commented on #19
Thanks, but what about the import twitter module error?

[2019-03-16 08:53] koenrh commented on #29
Apologies for the delay.

Thanks, @GrantSheehan. Also see this section in the README: https://github.com/koenrh/delete-tweets#configure-your-environment

@shaneswoll Let me know if this does not solve the issue you are facing.

[2019-03-16 08:53] #29 closed

[2019-03-16 08:54] koenrh commented on #28
Apologies for the delay.

As @MarkelFe says, please double check the credentials. And have a look at this section in the README: https://github.com/koenrh/delete-tweets#configure-your-environment.

Let me know if this doesn't solve the issue.

[2019-03-16 08:54] #28 closed

[2019-03-16 09:00] koenrh commented on #27
Please reopen if needed.

[2019-03-16 09:00] #27 closed

[2019-03-16 09:04] koenrh commented on #19
@codawithacurse Apologies for the delay. Are you running the script using the `python` executable? If so, what version of Python is it? (see `python -V`)

[2019-03-18 17:41] codawithacurse commented on #19
@koenrh no worries - when I run that it shows "Python 2.7.10".

[2019-03-18 18:18] codawithacurse commented on #19
I was able to get it to work using the venv method you suggested, but I had to run the command with a file argument at the end, like this:

python deletetweets.py -d 2013-10-01 tweets.csv

[2019-03-21 07:13] #19 closed

[2019-03-27 16:54] viktae commented on #27
Hello,
I'm using Bash (on Windows with the Linux subsystem), everything should be working but I get the same error. I checked my ENV variables and all of them are there :/

[2019-03-28 07:40] koenrh commented on #27
@viktae That is odd. I don't run Windows myself, but I'll see if I can reproduce it in a Windows VM. Thanks for reporting!

[2019-03-28 07:43] koenrh opened #33 "Check whether environment variables are picked up on Windows (WSL)"
https://github.com/koenrh/delete-tweets/issues/27#issuecomment-477483800

Environment variables set in Bash in WSL do not appear to be picked up (correctly).

[2019-04-25 09:16] ulissesalmeida commented on #16
I followed the README instructions, I think Twitter removed any reference to the `twitter.csv` file.

[2019-04-27 19:02] YaguraStation opened #35 "No tweets.csv"
In reference to #5 and #16 (hipsters say comments on closed issues aren't read):

Location South Africa. No option to export _tweets.csv_, only _tweets.js_.

[2019-04-29 09:38] koenrh commented on #35
I think you are right, I don't see it either (anymore).

They seem to have changed things recently. I will see if I can update the instructions and script in the next few days.

Thanks for reporting!

[2019-05-04 09:42] #35 closed

[2019-06-15 16:38] FejkImer commented on #27
Hi,
I encountered same issue, I used only windows, then Ubuntu on windows and got 215 error.
I got advice to hardcode your code and to remove os.env part and to directly enter my tokens and keys, but sadly I am not experienced that much yet, so would love if @viktae shared it with us.

If you need more feedback concerning this issue, I am here to send you data if you need them, because you don't u

[2019-06-16 09:42] koenrh commented on #27
@FejkImer That likely means that the script could somehow not read the environment variables.

After you have set the keys and tokens (per [these instructions](https://github.com/koenrh/delete-tweets#configure-your-environment)), could you check whether the variables are actually set?

Running this command should output the four Twitter environment variables: `env | grep TWITTER`

[2019-06-17 14:00] FejkImer commented on #27
Here it is, I am using Ubuntu on Windows in this case

https://i.imgur.com/fJZhPSP.png

[2019-06-25 07:18] koenrh commented on #27
@FejkImer Apologies for the delay. You should not include the brackets `[` `]` here:

[code]

It is safer to just quote these values:

[code]

I'll make sure to clarify that in the README.

[2019-07-19 04:20] micaswyers opened #38 "Twitter rate limits"
Hello!
Everything I see in the current Twitter documentation indicates a rate limit of 300 requests/3 hours (per application): https://blog.twitter.com/developer/en_us/topics/tools/2018/new-developer-requirements-to-protect-our-platform.html

"- Tweets & Retweets (combined): 300 per 3 hours"
I noticed that there's a comment about a "poor man's solution" to rate-limiting with a `time.sleep(.5)`. Ha

[2019-07-19 07:29] koenrh commented on #38
Hi! Good question. I am not sure. The limit for "destroy" requests used to be 450 per window, but I do not recall what the length of that window was. Unfortunately, rate limit information (x-rate-limit-limit, x-rate-limit-remaining, x-rate-limit-reset) is not included in responses to POST requests (e.g. `POST statuses/destroy/:id`).

[2019-08-10 15:27] koenrh commented on #33
This should just work.

[2019-08-10 15:27] #33 closed

[2019-08-10 15:27] #38 closed

[2019-08-12 18:30] holgr commented on #8
Hope it's okay to answer to this enhancement (otherwise I'd open a new one). I just requested a recent archive of my tweets and noticed there is now a `like.js` included that might make this possible?

[2019-08-12 19:38] koenrh commented on #8
Yep!

[2019-08-19 22:13] iamselasie commented on #8
Twitter API credential not set, what could I be doing wrong please?

[2019-08-20 08:23] koenrh commented on #8
@iamselasie Could you open a separate issue? With the exact steps you followed from the command-line (with the secrets masked, of course). Thank you!

[2019-08-20 10:32] iamselasie opened #43 "Twitter API credentials not set"
OK, so I followed the steps to delete the tweets on my TimeLine. However, upon running the delete tweet python script on my CMD console, I get an error; Twitter API credentials not set. I do believe I exported all my credentials, however, I may have missed a couple of steps? I am not sure. Also, I figured the script might be outdated, following [@icommitfelonies](https://gist.github.com/icommitfel

[2019-08-21 18:38] koenrh commented on #43
Twitter no longer supports CSV files, indeed. That was addressed in https://github.com/koenrh/delete-tweets/pull/36.

The error simply means that the Python script could not find all of the following environment variables. Make sure that you have exported them as follows:

[code]

You can verify this by running `env | grep TWITTER`:

[code]

[2019-09-13 07:49] koenrh opened #48 "Publish package to Python Package Index (PyPI)"

[2019-09-13 07:51] #43 closed

[2019-09-14 20:31] colemickens opened #49 "TypeError: '>' not supported between instances of 'NoneType' and 'int'"
[code]

[2019-09-15 19:48] lorainekv commented on #49
Noticed this same error - looks like min_l and min_r are coming in as `None` if they are not provided as command line arguments. Passing `None` into this function overrides the default int values set in the TweetReader constructor.

I've got a working branch reproducing this error in a unit test, will send a fix by in a PR shortly.

[2019-09-15 22:09] lorainekv opened #50 "Possibly incorrect test assertions for min_likes and min_retweets"
Hi there! I was working on a PR to address [Issue 49](https://github.com/koenrh/delete-tweets/issues/49).

However, I noticed some confusing discrepancies between the README and the test assertions, and wanted to clarify first before submitting PRs.

**min_likes expectations:**
https://github.com/koenrh/delete-tweets/blob/d4d9161addc25e953abef39507e522f912d370fa/test_deletetweets.py#L86
Shouldn't

[2019-09-15 22:14] lorainekv commented on #50
Since the expected lists don't match the actual lists, both of those tests are false positives. Might want to add
[code]
to avoid false positives.

[2019-09-16 22:08] colemickens commented on #49
Thanks! Passing the CLI args worked in the meantime.

[2019-09-21 10:38] koenrh commented on #50
Hi @lorainekv,

Apologies for the delayed response.

I think you are right! Feel free to submit the pull request.

[2019-09-21 11:00] koenrh commented on #49
Thanks for reporting.

🙌

[2019-09-23 19:03] ImaCrea commented on #8
Yes please, that'd be great :) After hours of researches, I haven't found any script, neither trustful services, that are able to do that. That would be a huge addition.

[2019-09-28 18:24] sepi2048 opened #54 "Adding keyword search"
I am trying to add a keyword search to this fantastic script, this is what I got this far. Do you have any suggestions on how to fix this?

[code]

[2019-09-29 14:11] #50 closed

[2019-09-29 14:14] #49 closed

[2019-09-30 20:00] heinrich-ulbricht opened #55 "Add support to delete recent tweets without having to request export from Twitter"
Assume the following use case:
* all tweets older than 4 weeks should be deleted (even from years ago) - the initial purge
* from now on the script will be run daily to keep tweets at most 4 weeks old

The second part could be automated by running the script as a job (CRON or Windows Task) e.g. once every day. Unfortunately this currently means the archive would have to be requested every day as w

[2019-09-30 20:07] heinrich-ulbricht commented on #8
(Note: Just found this fork which seems to have implemented removing likes: https://github.com/atreyagagan/delete-tweets/commit/fc1af439fe9515ccd7f8284b6f70f787251c6db2 - maybe it's useful, maybe not.)

[2019-10-05 22:43] heinrich-ulbricht commented on #55
I added this functionality in my fork. I'm refraining from opening a pull request, though, since I changed quite a lot and it was a rather quick implementation.

[2019-10-09 12:51] flied opened #56 "i have run the script to delete 20000+ tweet, but there is still 1090 tweet which can not be delete"
i have run this in my server , and  20000+ tweets had been deleted.
but there are always 1090 tweets left , and i can not see them on the twitter.com website, there is only the number shows.
is there the script bug or twitter's bug?

[2019-10-09 13:20] heinrich-ulbricht commented on #56
I noticed this as well. My theory so far is that this might be retweets of suspended accounts that still surface in the tweet count. But that's pure speculation and I'd also like to know what's going on.

[2019-10-10 19:27] koenrh commented on #54
Hey @sepi2048, I like the idea! Could you open a pull request with these changes? I'm happy to help out.

[2019-10-10 19:54] koenrh commented on #55
Good points, thanks! I'd like to add that to this script.

It really only makes sense to request the archive once. It might make sense to add a configure command which you would run once to save the tweets (and likes?) archive and credentials locally. Then, you can schedule the program to run as a recurring job or just on demand.

[2019-10-10 19:59] koenrh commented on #56
Interesting. I wonder if in that case the total number of tweets in your archive match the count on your Twitter profile. If they do match, then we should see some errors on the Destroy API call. It would be nice if the script would track some stats (e.g. number of successful/failed delete actions).

[2019-10-10 21:04] heinrich-ulbricht commented on #56
I'll check this as soon as the current export expires so I can create a new one. Then I'll compare the counts.

[2019-10-13 14:26] sepi2048 commented on #54
Perfect, created a pull request  #57

[2019-11-05 18:11] akilan27 commented on #56
@heinrich-ulbricht is sort of right. If the account is protected, twitter doesn't allow us to delete. If the account is suspended also I think same happens. I followed some of the error messages and found that in case of following error message the account i protected:

[code]
Of course I can see full text of tweet in `tweet.js` by searching for id:

[code]

 but the script cannot delete it and I

[2019-11-05 18:12] akilan27 commented on #56
@heinrich-ulbricht is sort of right. If the account is protected, twitter doesn't allow us to delete. If the account is suspended also I think same happens. I followed some of the error messages and found that in case of following error message the account i protected:

[code]
Of course I can see full text of tweet in `tweet.js` by searching for id:

[code]

 but the script cannot delete it and I

[2019-11-05 18:19] akilan27 commented on #56
OK, I'm happy(sad?) to report that @heinrich-ulbricht is fully right. This error message is thrown by the script when account is suspended:
`Exception: [{u'message': u'Sorry, that page does not exist.', u'code': 34}] `

[2019-11-06 16:17] akilan27 opened #60 "Delete replies deletes threaded conversation too"
When the script is told to delete replies, it deletes replies of the user to their own tweets. These are truly not replies but threaded tweets even thought technically they are classified as replies. There should be an option to spare these replies from being deleted.

[2019-11-13 19:23] koenrh commented on #56
@akilan27 Interesting. Thank you for confirming.

So, it looks like, based on the API response, you cannot tell whether the tweet was either previously deleted or that it was a retweet of a tweet form a protected account?

[2019-11-13 19:28] koenrh commented on #60
Good suggestion, thanks!

[2019-11-14 14:33] akilan27 commented on #56
If it is from protected account you can tell from API response:
`[{u'message': u'Sorry, you are not authorized to see this status.', u'code':
179}] `

But you cannot distinguish deleted tweet and tweets from suspended account with both returning:
` Exception: [{u'message': u'Sorry, that page does not exist.', u'code': 34}] `

[2019-11-14 14:36] akilan27 commented on #60
I successfully coded and used this feature. But my hack uses user-id of parent tweet to guess which tweet is a thread and I'm not sure how to get this info from user without making them work hard. :) If you have any ideas let me know. I will send a PR shortly with my solution.

[2019-11-17 18:42] kvreem commented on #60
@akilan27 was your PR accepted?

[2019-11-18 15:45] akilan27 commented on #60
I'm yet to make a PR. Will do in a couple of days max.

[2019-11-19 06:36] kvreem commented on #56
@akilan27 so essentially it will be impossible to get the tweet count to zero :/ ?

[2019-11-23 13:49] #48 closed

[2019-11-23 13:50] dependabot-preview[bot] opened #62 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

[2019-11-23 14:06] #62 closed

[2019-11-28 04:41] kivikakk opened #67 "--dry-run doesn't"
I haven't looked into why, but it's worth noting that `--dry-run` doesn't appear to actually dry run right now — the tweets are deleted.

[2019-11-29 08:53] koenrh commented on #67
I'm sorry, my bad 😞

[2019-11-29 08:55] #67 closed

[2019-11-29 09:08] koenrh commented on #67
Published a new version: `pip install -U delete-tweets`. Thank you!

[2019-11-29 22:25] mwoolweaver opened #69 "json.decoder.JSONDecodeError: Extra data: line 1 column 12 (char 11)"
[code]

Json that is being used
https://sfo2.digitaloceanspaces.com/mbcdn/psty/d3a_tweet-part2.js

Not why I’m getting the error that’s being shown above?

[2019-11-30 00:14] kivikakk commented on #67
Thank you! <3

[2019-11-30 15:11] koenrh commented on #69
The data file looks alright. Are you on the latest version? `pip install -U delete-tweets`

[2019-11-30 16:06] mwoolweaver commented on #69
[code]

I use `wget https://sfo2.digitaloceanspaces.com/mbcdn/psty/d3a_tweet-part2.js ` then use `mv d3a_tweet-part2.js tweet.js` to rename it. Not sure why it’s not working.

[2019-11-30 19:41] koenrh commented on #69
@mwoolweaver Haven't been able to reproduce, but I'll have a closer look tomorrow. What OS are you using?

[2019-11-30 19:57] mwoolweaver commented on #69
Ubuntu 19.10

And both

Python 2.7.17rc1

Python 3.7.5

[2019-12-01 07:16] kvreem commented on #60
@akilan27  - any updates?

[2019-12-04 19:13] koenrh commented on #69
@mwoolweaver I'm sorry, I lost the failing JSON file, could you send it to koen@rwhrst.nl? Thanks.

Now that I reread the error it looks like it is somehow reading a Python dict instead of JSON file.

[2019-12-05 02:15] mwoolweaver commented on #69
Done!

[2019-12-08 14:40] carlosvega opened #71 "ImportError: cannot import name deletetweets"
whenever I try to execute delete-tweets it raises the following error:

[code]

Either from a virtualenv or system wide.

[2019-12-10 04:08] sschoenith commented on #71
I was able to fix this by:
- navigating to deletetweets location pip install location (for me, /usr/local/lib/python2.7/dist-packages/deletetweets)
- open __main__.py
- comment out line 7
- add "import deletetweets" on line 8
- re run deletetweets

That being said, its probably not a proper fix... but it works.

[2019-12-14 03:42] zhushazang opened #72 "Problems with 'twitter.Api' and 'module' object not callable"
Hello there.

First, using Linux and Python 3.7 here. Then, after install delete-tweets the first error was:

`delete-tweets tweet.js                                                                                                                     23:31
Traceback (most recent call last):
  File "/home/rodolfo/.local/bin/delete-tweets", line 8, in <module>
    sys.exit(main())
  File "/home/rodol

[2019-12-29 13:51] koenrh commented on #71
My apologies for the delay.

As Python 2 is reaching [end of life](https://www.python.org/dev/peps/pep-0373/) in just two days, could you try using Python 3? If you already have Python3 installed: uninstall the package, and then force the package to be installed using Python 3 `python3 -m pip delete-tweets`.

[2019-12-29 14:19] koenrh commented on #72
Thank you for reporting! I think I have fixed this bug in [v1.0.5](https://pypi.org/project/delete-tweets/). Could you try reinstalling the package and try again?

Please reopen this issue if the latest version did not fix it.

[2019-12-29 14:19] #72 closed

[2020-01-07 12:10] artofofiare opened #74 "Cannot find Tweet.js on a Mac"
I keep getting this error when I try to run `delete-tweets --until 2019-01-01 tweet.js `
[code]

I have the very current version of Python installed, and Pip installed under Python 3. I also have tweet.js in all(delete-tweets and deletetweets) folders.

[2020-01-08 14:03] koenrh commented on #74
The location of the `tweet.js` file (whether relative or absolute) should not really matter. Have you tried running the command with the absolute path to your `tweet.js` file?

For example:

[code]

[2020-01-08 14:08] artofofiare commented on #74
About to try that right now. Give me a moment to setup my Keys...

[2020-01-08 14:27] artofofiare commented on #74
Voila! that was the zing I needed. My pip and python 3 just didn't know where `tweet.js` was located, even though I had plastered it everywhere.

Process is currently running for 17k tweets.

[2020-01-12 22:47] lilyli opened #76 "KeyError: 'id_str'"
When I run `delete-tweets --until 2017-12-01 tweet.js`, I get the following error:

`Traceback (most recent call last):
  File "/usr/local/bin/delete-tweets", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/site-packages/deletetweets/__main__.py", line 53, in main
    deletetweets.delete(args.file, args.until_date, filters, args.spare_ids, args.min_likes, args.min_retwee

[2020-01-13 11:07] visuphi commented on #76
I also have this issue!

[2020-01-14 08:18] #74 closed

[2020-01-14 12:28] jclwilson commented on #76
Same

[2020-01-14 20:06] d-lowl commented on #76
Can confirm

[2020-01-14 20:31] d-lowl commented on #76
I think I got it working. There was a minor file structure change or something. Will make a pull request when confirm

[2020-01-14 22:02] d-lowl commented on #76
Update: yeah, my idea was right, however there's already a pull request with the fix
#75

[2020-01-18 13:26] koenrh commented on #76
Thanks for reporting! Should be fixed in the latest version: `pip install -U delete-tweets`.

[2020-01-18 13:26] #76 closed

[2020-01-30 21:28] SDesai71 opened #77 "Twitter API credentials not set"
I have set the tokens in deletweets.py

[2020-01-30 21:29] SDesai71 commented on #77
Edit: How do i export the tokens? where do i do that?

[2020-01-30 21:42] #77 closed

[2020-01-30 21:43] SDesai71 opened #78 "Bad Auth data"
Exception: [{'code': 215, 'message': 'Bad Authentication data.'}]

[2020-01-30 21:43] SDesai71 commented on #78
I have set my tokens and even manually entered in the deletetweet.py file

[2020-01-30 21:50] #78 closed

[2020-02-17 03:39] jorvlan opened #79 "Exception: The twitter.Api instance must be authenticated."
When trying: delete-tweets --until 2014-12-12 tweet.js
I get the following output..

delete tweet 150703127539093504
Exception: The twitter.Api instance must be authenticated.

delete tweet 150599558748061696
Exception: The twitter.Api instance must be authenticated.

delete tweet 150534176360247296
Exception: The twitter.Api instance must be authenticated.

delete tweet 150415891975254016
Excepti

[2020-02-17 22:26] jorvlan commented on #79
Issue is solved, the problem was that I wrote the keys as a string input

Example keys:
export TWITTER_CONSUMER_KEY="4832823"
export TWITTER_CONSUMER_SECRET="584883"
export TWITTER_ACCESS_TOKEN="3dsl3939"
export TWITTER_ACCESS_TOKEN_SECRET="393939dk"

I will now close this case.

[2020-02-17 22:28] #79 closed

[2020-02-22 11:28] koenrh commented on #69
This should have been fixed with new data format Twitter uses. Please reopen if the issue persists with this new format.

[2020-02-22 11:28] #69 closed

[2020-03-13 03:31] CameronNemo commented on #8
@heinrich-ulbricht I am getting rate limited with the branch you show.

[2020-03-25 00:29] Raiuc commented on #71
python3 -m pip install delete-tweets

[2020-04-05 14:14] teddy-dev opened #81 "Has anyone got suspended before?"
So i want to try this app. But I'm afraid my Twitter account will be suspended. There is no information about destroy tweet limit, it doesnt like post update tweet and get tweet.

Has anyone got suspended before? Or has anyone try to delete more than tens of thousands of tweets in a short period of time?

[2020-04-05 17:56] koenrh commented on #81
Hello @teddy-dev! No, not as far as I am aware. Twitter has implemented strict rate-limiting, which means that you could only delete tweets at a rate of N tweets per window. See related discussion: https://github.com/koenrh/delete-tweets/issues/38.

[2020-04-19 18:35] angelcaceres opened #82 "Structure of archive seems to have changed"
I have run the script in my computer. I want to delete all the tweets prior to march 14th 2018 that have less than 500 likes. I executed the script like this:

`  delete-tweets --until 2018-03-14 tweet.js --spare-min-likes 500
`

I had about 150k tweets in my account and when the script was finished i checked and i still had ~100k tweets in my account. I thought that it was unlikely that i had pos

[2020-04-20 17:59] koenrh commented on #82
Hey @angelcaceres, thanks for reporting.

I don't think I have seen this before, but maybe I just haven't come across people that have been tweeting so much!

It should be fairly straightforward to update the script to also look for files named `tweet-partN.js`. Would you mind sharing the first few lines of that `tweet-part1.js` file? So that I can check if it has the same structure.

Thanks!

[2020-04-26 11:32] #81 closed

[2020-04-30 17:43] dannydarvish opened #83 "Delete all tweets *after* a given date?"

[2020-04-30 18:51] #83 closed

[2020-06-12 14:27] IHIutch commented on #71
@sschoenith 's answer worked for me as well

[2020-06-21 10:31] aufawiandra opened #84 "Exception: Read-only application cannot POST."

[2020-06-21 10:34] #84 closed

[2020-06-22 22:56] BorisAnthony opened #85 "One precision in directions"
Hi!
"Unpack the archive, and move tweet.js to the same directory as this script."
This is not clear. What directory?
The directory where delete-tweets gets installed by Pip? (Which would be "/usr/local/bin/delete-tweets")
Or the directory we're running the script from (assuming the shell is always somehow "in" a directory")?
Or… what? Where? :)

Thanks for clarifying!

[2020-06-23 07:19] koenrh commented on #85
Hello @BorisAnthony,

That needs updating. It doesn't matter where the `tweet.js` file is stored. It should read:

If you have stored the file in `/Users/foo/tweet.json`, you can call the script with that location as argument:

`delete-tweets --until 2018-01-01 /Users/foo/tweet.js`

I'll update the README.

[2020-07-19 10:48] #85 closed

[2020-07-19 10:49] koenrh commented on #71
Python 2 is end of life. Updated the README to reflect that Python 3 should be used.

[2020-07-19 10:49] #71 closed

[2020-09-19 09:25] yackx commented on #82
You had ~150k and ~100k remained so the script deleted about ~50k... which seems to match the monthly limit at the moment.

<img width="254" alt="Screenshot 2020-09-19 at 11 23 35" src="https://user-images.githubusercontent.com/1193689/93663830-ce217d00-fa6a-11ea-837a-a3756913b53c.png">

[2020-09-24 07:23] dependabot-preview[bot] opened #88 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/koenrh) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/koenrh/update-logs/48582737).

[2020-09-24 20:05] #88 closed

[2020-10-08 22:26] anor4k commented on #81
reopening this because i did get suspended permanently for using this tool. I used it to delete 100k+ tweets, which took a few hours. I was unaware of the rate limit. proof:
![Suspension](https://user-images.githubusercontent.com/19380886/95519753-2a0d6080-099c-11eb-943b-3bcd85dd4bbd.png)

[2020-10-12 07:26] koenrh commented on #81
@anor4k I'm sorry to hear that 😞 This is the first time I have heard about someone actually getting suspended for using Twitter's API to delete their tweets. I don't think it has anything to do with Twitter's rate limit as this tool will simply [sleep](https://python-twitter.readthedocs.io/en/latest/rate_limits.html) for N seconds after it hits the rate limit. Which means it must have something to

[2020-10-15 16:27] akilan27 commented on #60
Hello all,
Sorry for a long delay. Got married, moved countries amid COVID19 etc. Anyway back now and I discovered that Twitter changed their format a bit. Gah. Anyway I will file two PRs shortly: one to fix a "bug" that deleted all tweets even if 'replies' filter is enabled (caused by Twitter changing their file format) and another to preserve threads when deleting replies.

[2020-10-15 17:17] akilan27 commented on #60
First PR: #91

[2020-10-16 02:33] akilan27 commented on #60
Creating another PR adds my first commit too. Guess I have to wait for first PR to be approved (The change depends on previous one too).
Here is the commit finishing this issue: https://github.com/akilan27/delete-tweets/commit/f7bd660afe36a2066a786230834d0973648a9259

[2020-10-17 17:15] shrvstv-nkhl opened #92 "ModuleNotFoundError: No module named 'twitter'"
I have twitter package installed as the result of `conda list | grep twitter` results in
`python-twitter            3.5                        py_0    conda-forge
twitter                   1.18.0                   pypi_0    pypi`.
But if I try to import twitter in my jupyter notebook using `import twitter` it gives an `ModuleNotFoundError: No module named 'twitter'` error.
What am I doing wrong?

[2020-10-17 17:16] #92 closed

[2020-10-17 17:16] shrvstv-nkhl commented on #92
Sorry, I posted this here.

[2020-11-02 20:21] aandreysr opened #93 "Bad Auth data"
I have set my tokens and even manually entered in the deletetweet.py file and I still have the error:

 Exception: [{'code': 215, 'message': 'Bad Authentication data.'}]

[2020-11-03 12:00] #93 closed

[2020-11-05 01:24] walter-grace commented on #74
What did you do to create your tweet.js? I am having this same issue and not sure how you figured it out. Greatly appreciate your help.

[2020-11-05 23:31] artofofiare commented on #74
If what you asked is what you are searching for, then this article might help get that.
https://medium.com/@oyeAbhishek/how-to-get-your-top-tweets-without-any-external-tool-40a4a8076122

[2020-11-11 14:07] phquiste opened #94 "Tweets aren't being deleted when requested"
First of all, thank you for your work. I've used several times in the last months, but today I ran through an issue where I tell python to run delete-tweets, but it doesn't work. There is no tweets deleted.

I already set my variables (on cmd, Windows, with the set command) and have the tweet.js on the root folder. My code looks like this:

[code]

As you can see, no action is done when I ask it t

[2020-11-14 22:53] phquiste commented on #94
I managed to get it working using the command py instead of python on Windows 10. Now, I do get python working and everything else, but there is a new error message more related to the project itself.

[code]

I'm a beginner in python, but it seems like it wants to open a folder called "delete-tweets" on the root folder of the project. When I rename the deletetweets folder to delete-tweets, the me

[2020-11-18 19:18] migcm commented on #94
Try it with variables for the user:

setx TWITTER_CONSUMER_KEY xxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2020-11-18 19:23] migcm commented on #94
Same problem running it from python console.

[2020-11-23 17:17] phquiste commented on #94
Where you able to find a solution yet, @migcm?

[2020-11-23 17:28] migcm commented on #94
No...

[2021-01-06 17:18] msl0 opened #95 "Option to delete latest 3200 tweets without twitter archive"
I would like to propose adding a new feature. As far as I understand when I run delete-tweets its remove only tweets using archive. Its good for remove large number of tweets, but when I want to delete tweets periodically I need generate every time new twitter archive with latest tweets. I found other tools but without "--spare-ids" functionality.

It would be good add new possibilities:
- start w

[2021-01-10 23:40] adrianteri opened #96 "Update Build job to exclude deprecated Python 3.5"
I noticed in the workflow job build for 3.5 there is a warning that 3.5 will be dropped in **January 2020** as seen below ...

![Screenshot from 2021-01-11 02-21-21](https://user-images.githubusercontent.com/10687877/104138286-2d0d5800-53b4-11eb-8bed-095e5298226a.png)

This is also evidenced elsewhere in the [docker library for python](https://github.com/docker-library/python/issues/556) with offi

[2021-01-12 20:03] koenrh commented on #96
Thanks for reporting and fixing!

[2021-01-12 20:03] #96 closed

[2021-01-12 20:09] koenrh commented on #95
Good suggestions!

Indeed, initially I only added the script to delete tweets beyond the infamous [3,200 limit](https://web.archive.org/web/20131019125213/https://dev.twitter.com/discussions/276).

[2021-01-12 20:14] koenrh commented on #94
Apologies for the late response and thank you for reporting, @phquiste.

I don't have a Windows machine available at the moment, but let me try to reproduce it on CI using a Windows image.

[2021-01-12 20:30] koenrh commented on #94
Not familiar with Windows, but you should not have to prefix the executable (`delete-tweets`) with 'python`.

Have you installed the script using `pip install delete-tweets`?

[2021-01-13 20:14] liukliukliuk opened #99 "Twitter archive directory"
I’m a total beginner, but what exactly should I do with the archive files?

[2021-01-14 01:05] #99 closed, assigned to nobody

[2021-01-14 01:12] liukliukliuk commented on #93
same here...

[2021-01-14 01:36] liukliukliuk opened #100 "Bad authentication data"
I keep getting “Bad authentication data” even though the credentials are right.

The weirdest thing is that when i set to delete tweets from a period of time when there was 0 tweets to delete, it recognizes 0 tweet was deleted. Otherwise i get this error.

[2021-01-16 16:09] koenrh commented on #100
Could you show me how you set the credentials? (without including your credentials)

[2021-01-16 16:25] liukliukliuk commented on #100
i use windows
![image](https://user-images.githubusercontent.com/46636729/104817159-3ce6cb00-57fe-11eb-9ada-b5ff6dd3da59.png)

[2021-01-24 01:09] nihirisuto opened #101 "Python os.environ not pulling environment variables for api token credentials"
Seen this issue a few times and I double checked/verified creds were inputted right using the export VARIABLE="<token/secret>" and verified they were there with export -p

Yielded the [215] error 'Bad authentication data'. Dug through the python script and replaced the os.environ calls with direct strings of the tokens/secrets and it worked.

System is a Debian GCloud VM Instance
Python 3.7

[2021-01-30 20:36] MrMarti27 opened #102 "Could not authenticate you"
Everything is set as described but when deleting tweets I'm getting the message

"code": 32, "message": "Could not authenticate you."

[2021-02-02 09:19] kuthulhu commented on #101
I had the same problem and hardcoding the tokens solved it for me.

MacOS 10.15, Python 3.8

[2021-02-10 14:51] ahmadmohi commented on #100
any update regarding this issue yet?  as iam facing te same issue

[2021-02-11 15:22] rogard opened #103 "JSON error"
I ran into this error. Does tweet.js have to meet any requirement?

[code]

[2021-02-11 15:42] rogard commented on #103
`tweet.js` must be that in the archive.

[2021-02-11 15:42] #103 closed, assigned to nobody

[2021-02-18 15:51] liukliukliuk commented on #100
no :/

Il giorno mer 10 feb 2021 alle ore 11:51 ahmadmohi <notifications@github.com>
ha scritto:

[2021-03-05 18:13] Peteous commented on #94
I have tried running pip install delete-tweets on Windows. This does not resolve the issue. `delete-tweets` is not recognized as an internal or external command

[2021-03-05 18:29] Peteous commented on #100
I was also getting this issue on Windows. For me, I needed to use set TWITTER_CONSUMER_KEY=[your key here] with no quotes around the string. I diagnosed this by using `ECHO %TWITTER_CONSUMER_KEY%` after setting it, and I discovered the quotes were saved into the variable.

[2021-03-11 21:59] skyepn commented on #8
+1 yes please

[2021-06-04 01:24] Fe-n commented on #102
Edit 2:
Nuked my twitter app and just did all of those elements over.  I'm guessing it was some case of user error that I was just overlooking somehow.  Did I mess up one of my keys somehow?  Did I forget to change/check the app permissions?  Who knows.  Worked fine upon taking the 2min to simply start from scratch.  Almost certainly was just me overlooking something stupidly.

***
Expanding on th

[2021-06-22 20:23] ghost opened #105 "Script not working"
When I try it I get

[code]

I am using a Pi with DietPi installed, followed the guide to the letter, not sure where I went wrong?

[2021-06-22 20:54] ghost commented on #105
The suggestion of commenting out one line and adding another from here https://github.com/koenrh/delete-tweets/issues/71

worked....well I think it has, it says its deleting tweets....time will tell, its got a few to do

[2021-07-04 16:22] belen-albeza commented on #102
I'm having the same issue, I tried creating another app from scratch and still get the same errors (first an `"unknown error"` and later `"Could not authenticate you"`).  The permissions are set to read + write,  I (re)generated the tokens after setting them, and the env variables are OK.

Any tips into what's wrong here and how could I fix it? Thanks

[2021-10-04 16:01] akilangh commented on #60
@koenrh Can you look at the PR?

[2021-11-18 16:23] liukliukliuk opened #108 "deletetweets command not found"
![image](https://user-images.githubusercontent.com/46636729/142455010-42714c20-62f2-4449-b91a-e358ad82563f.png)

[2021-11-18 16:36] liukliukliuk commented on #108
i think there's something to do with this
![image](https://user-images.githubusercontent.com/46636729/142457251-36fdc143-ee1f-483c-8c17-67ffece8889e.png)

[2022-03-05 14:17] Kurineko opened #110 "Is there a way to delete only tweets with a certain prompt in the tweet?"
For example, all tweets that have a link from a specific website, therefore the website name would be on all of those tweets and have them erased, sorry if this is a bit of a newby question but is it possible with this app, and how would you go about it?

[2022-04-27 05:07] kousha789123 opened #111 "deleting replies (with time range)"
Would you mind adding features such as deleting replies and time range to this code? I really appreciate it

[2022-04-27 05:33] #111 closed, assigned to nobody

[2022-05-01 23:18] kquo opened #112 "New Elevated Access appears to now be required."
May want to update the README, that new Elevated Access appears to now be required a detailed in <https://developer.twitter.com/en/support/twitter-api/developer-account>.

[code]

[2022-11-04 10:25] kannes commented on #108
Run it like `~/.local/bin/delete-tweets ...` or adjust your PATH.

[2022-11-10 17:26] zigotica opened #113 "Exception: Read-only application cannot POST."
Hello

I am trying to use the script but I receive this message for each tweet thats is supposed to be deleted

`Exception: Read-only application cannot POST.`

I have my secrets exported as in the readme and using `delete-tweets 1.0.6`. Where should I look at?

Thank you

[2022-11-11 17:46] zigotica commented on #113
OK you have to create a Project, and then an App inside the project. Then give the project Read & Write permissions. The rest is the same.

[2022-11-11 17:46] #113 closed, assigned to nobody